
.sortable-widget.list-view > .item {
    position: relative;
    border: 1px solid #ddd;
    padding: 3px 6px;
    line-height: 2.6em;
    margin: 0 0 8px 0;
    color: #333;
    background: #f5f5f5;
}

.sortable-widget.grid-view .sortable-column {
    width: 30px;
    text-align: center;
}

/* theme */
.sortable-widget-handle {
    cursor: move;
}

.sortable-ghost {
    opacity: .5;
}

.sortable-select {
    select {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    .sortable-select-interface {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
        
        &>div:first-child {
            margin-right: 15px;
        }
        
        &>div:last-child {
            margin-left: 15px;
        }
    }

    .sortable-select-selected,
    .sortable-select-avialable {
        flex-basis: 0;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;

        &>div:first-child {
            flex-basis: 0;
            flex-grow: 0;
        }

        &>div:last-child {
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    .sortable-select-label {
        text-align: center;
        margin-bottom: 10px;
        color: rgba(0,0,0,0.5);
    }
    
    .sortable-item {
        padding: 4px;
        margin: 2px 0;
        background: #ededed;
        border: 1px solid #ddd;

        .sortable-handle {
            display: inline-block;
            margin: 0 10px 0 6px;
        }
    }
}